<html>
  <head>
    <%= stylesheet_link_tag 'single_user' %>
  </head>
  <body>
  <h1>A specific User's details</h1>
  <%= render 'shared/container_user', user: @user %>
<div class="user-bio">
    <h4 class="bio-p"> Bio of <%= @user.name %></h4>
    <p><%= @user.bio %></p>
</div>
<%= render partial: 'shared/posts', locals: { posts: @user.posts } %>
<div>
  <a href='/users/<%= @user.id%>/posts' class='btn btn-primary'>see more</a>
</div>
</body>
</html>
